<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>BuyersDeleteServlet</servlet-name>
    <servlet-class>BuyersDeleteServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>BuyersDeleteServlet</servlet-name>
    <url-pattern>/BuyersDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BuyersListServlet</servlet-name>
    <servlet-class>BuyersListServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>BuyersListServlet</servlet-name>
    <url-pattern>/BuyersListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BuyersSaveServlet</servlet-name>
    <servlet-class>BuyersSaveServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>BuyersSaveServlet</servlet-name>
    <url-pattern>/BuyersSaveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BuyersUpdateServlet</servlet-name>
    <servlet-class>BuyersUpdateServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>BuyersUpdateServlet</servlet-name>
    <url-pattern>/BuyersUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BuyersUpdateServlet2</servlet-name>
    <servlet-class>BuyersUpdateServlet2</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>BuyersUpdateServlet2</servlet-name>
    <url-pattern>/BuyersUpdateServlet2</url-pattern>
  </servlet-mapping>




  <servlet>
    <servlet-name>ProductsDeleteServlet</servlet-name>
    <servlet-class>ProductsDeleteServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ProductsDeleteServlet</servlet-name>
    <url-pattern>/ProductsDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductsListServlet</servlet-name>
    <servlet-class>ProductsListServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ProductsListServlet</servlet-name>
    <url-pattern>/ProductsListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductsSaveServlet</servlet-name>
    <servlet-class>ProductsSaveServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ProductsSaveServlet</servlet-name>
    <url-pattern>/ProductsSaveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductsUpdateServlet</servlet-name>
    <servlet-class>ProductsUpdateServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ProductsUpdateServlet</servlet-name>
    <url-pattern>/ProductsUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductsUpdateServlet2</servlet-name>
    <servlet-class>ProductsUpdateServlet2</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ProductsUpdateServlet2</servlet-name>
    <url-pattern>/ProductsUpdateServlet2</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
