<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="~{fragments/head}"></th:block>
<body>
    <form method="post" action="/author/edit" enctype="multipart/form-data">
        <div class="form-group">
          <label for="first_name">First Name:</label>
          <input type="text" class="form-control" id="first_name" 
          name="first_name" th:value="${author.first_name}" required>
        </div>
        <div class="form-group">
          <label for="middle_name">Middle Name:</label>
          <input type="text" class="form-control" id="middle_name" 
          name="middle_name" th:value="${author.middle_name}">
        </div>
        <div class="form-group">
          <label for="last_name">Last Name:</label>
          <input type="text" class="form-control" id="last_name" 
          name="last_name" th:value="${author.last_name}" required>
        </div>
        <div class="form-group">
          <label for="born">Born:</label>
          <input type="date" class="form-control" id="born" 
          name="born" th:value="${author.born}" required>
        </div>
        <div class="form-group">
          <label for="died">Died:</label>
          <input type="date" class="form-control" id="died" 
          name="died" th:value="${author.died}">
        </div>
        <div>
            <p>Current photo</p>
            <div th:if="${photo == null}">
                <img height="200" src="/images/no_photo.webp" />
            </div>
            <div th:if="${photo != null}">
                <img height="200" th:src="'data:image/png;base64,' + ${photo}" />
                <p><a th:href="'/author/photo/delete/' + ${author.author_id}"
                    class="btn btn-sm btn-danger">Delete</a></p>
            </div>
        </div>
        <div class="form-group">
          <label for="photo">Photo:</label>
          <input type="file" class="form-control-file" id="photo" name="photo">
        </div>
        <div class="form-group">
          <label for="biography">Biography:</label>
          <textarea class="form-control" id="biography" name="biography" 
          rows="5" th:text="${author.biography}"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</body>
</html>